html {
  position: relative;
  min-height: 100vh;
}

header {
  font-family: 'Rampart One', cursive;
}

main div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-family: 'Rampart One', cursive;
  background-color: slategray;
  color: black;
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 75%;
  border: 1px solid white;
}

button:hover {
  background-color: white;
  color: black;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4px 1px;
  background: slategrey;
}
